/* 
 * Tesori Design by Toni Tesori
 * 9.29.2016 */
/* Felt That font from MyFonts */
@import url("http://hello.myfonts.net/count/32214f");
@font-face {
  font-family: 'FeltThat';
  src: url("/fonts/32214F_0_0.eot");
  src: url("/fonts/32214F_0_0.eot?#iefix") format("embedded-opentype"), url("/fonts/32214F_0_0.woff2") format("woff2"), url("/fonts/32214F_0_0.woff") format("woff"), url("/fonts/32214F_0_0.ttf") format("truetype");
}

/* Universal Styles */
* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

@media screen and (min-width: 480px) {
  :root {
    font-size: 20px;
  }
}

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  margin: 0;
  color: #635C51;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

/* Header */
header h1 {
  height: 7.5rem;
  line-height: 7.5rem;
  width: 25rem;
  max-width: 100%;
  margin: 0 auto;
  text-indent: -999em;
  background: url(/img/logo.png) no-repeat top center;
  background-size: contain;
}

header h1:after {
  content: '';
  display: block;
  width: 75%;
  height: .13rem;
  background: #96d673 url(/img/border-dotted-trans.svg) repeat-x;
  background-size: .37rem auto;
  margin: .25rem auto 1rem;
}

header nav {
  padding-top: 1rem;
}

header nav ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  max-width: 80%;
}

header nav li {
  display: inline-block;
  padding: .5em .75em;
}

header nav li a {
  font-family: "Roboto Slab", Georgia, serif;
  color: #635C51;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  line-height: 1.6rem;
}

header nav li a:hover {
  color: #4ba39c;
  border-bottom: 2px solid #96d673;
}

@media screen and (max-width: 750px) {
  header nav li {
    width: 45%;
  }
  header nav li:last-of-type {
    width: 100%;
    padding-right: 45%;
  }
}

header aside {
  background-image: radial-gradient(rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0.75) 100%), url(/img/paper.png);
  margin: .5rem auto;
}

header aside h2, header aside h3 {
  font-family: FeltThat, Georgia, cursive;
}

header aside h2 {
  font-size: 3rem;
  text-shadow: 2px 2px 5px #287670;
  color: white;
  margin: 0 26.5% .1rem .5rem;
  padding-top: .3rem;
}

header aside h2:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 24.75%;
  min-height: 100%;
  background: url(/img/me.jpg) center center no-repeat;
  background-size: cover;
}

header aside h3 {
  font-size: 1.3em;
  color: #4ba39c;
  text-shadow: 1px 1px 3px #a5d1cd;
  background: url(http://simply-imperfect.com/img/title-sketchy-white-small.svg) no-repeat;
  background-size: 100% auto;
  font-family: 'Roboto Slab';
  padding: 0 .75rem;
  width: 9rem;
  margin: 0 0 .25rem 2rem;
  font-style: italic;
  letter-spacing: 1px;
}

header aside p {
  color: white;
  font-size: 1em;
  line-height: 1.5em;
  font-family: "Roboto Slab", Georgia, serif;
  margin: 0 26.5% .25rem 0;
  padding: .5rem 0 1.5rem 2.5rem;
  text-shadow: 1px 1px 5px #287670;
}

header aside div {
  background-color: #a5d1cd;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
  background-image: radial-gradient(ellipse at bottom center, rgba(165, 209, 205, 0.9), rgba(75, 163, 156, 0.95)), url(/img/hero-home.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  box-shadow: 8px 0 15px -10px #8a857d, -8px 0 15px -10px #8a857d;
}

@media screen and (min-width: 750px) {
  header aside div {
    height: 15rem;
  }
  header aside div h2 {
    padding-top: 1rem;
  }
}

header:before {
  content: '';
  display: block;
  height: 1rem;
  background: repeating-linear-gradient(-45deg, #F0EFEE 0px, #F0EFEE 2px, white 3px, white 8px, #F0EFEE 9px);
  margin-bottom: 1.5rem;
  border-top: 0.25em solid #96d673;
  padding-top: .2rem;
  background-clip: content-box;
}

/* Main */
main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

main section {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  padding: 0px 1rem;
}

main section h1 {
  font-family: FeltThat, Georgia, cursive;
  font-size: 3.5em;
  line-height: .9em;
  margin: 0;
  text-transform: lowercase;
  padding-top: 4.25rem;
  background-size: auto 4.75rem;
  background-position: top center;
  background-repeat: no-repeat;
}

main section h1:after {
  content: '';
  display: block;
  width: 70%;
  height: .13rem;
  background: #caeab9 url(/img/border-dotted-trans.svg) repeat-x;
  background-size: .37rem auto;
  margin: .25rem auto 1rem;
}

main section h1 span {
  display: none;
}

@media screen and (min-width: 900px) {
  main section h1 span {
    display: inline;
  }
}

main section p {
  font-size: .8rem;
}

main section:nth-of-type(1) h1 {
  background-image: url(/img/icon_portfolio.svg);
}

main section:nth-child(2) h1 {
  background-image: url(/img/icon_book.svg);
  background-size: auto 4.5rem;
}

main section:nth-of-type(3) h1 {
  background-image: url(/img/icon_talk.svg);
}

@media screen and (max-width: 700px) {
  main {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main section {
    margin-bottom: 1em;
  }
  main section p {
    padding: 0 2em;
    margin-top: .2em;
  }
  main section h1:after {
    margin-bottom: .5rem;
  }
}

aside.testimonial {
  background-image: radial-gradient(rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0.75) 100%), url(/img/paper.png);
  text-align: center;
  padding-bottom: 1rem;
}

aside.testimonial:before {
  content: '';
  display: block;
  height: 1rem;
  background: repeating-linear-gradient(-45deg, #F0EFEE 0px, #F0EFEE 2px, white 3px, white 8px, #F0EFEE 9px);
  margin-bottom: 1.5rem;
  border-bottom: .2rem solid white;
  margin-bottom: 1rem;
}

aside.testimonial blockquote {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 0;
  text-shadow: 1px 1px 2px #fff;
  line-height: 1.9em;
}

aside.testimonial blockquote q {
  font-family: "Roboto Slab", Georgia, serif;
  quotes: '\201c' '\201d';
  padding: 0 4em;
  margin-bottom: .5rem;
  display: block;
  font-style: italic;
}

aside.testimonial blockquote q:before {
  content: open-quote;
  font-family: 'Times New Roman',serif;
  font-size: 4rem;
  display: block;
  text-align: left;
  line-height: 0;
  position: relative;
  left: -1.5rem;
}

aside.testimonial blockquote cite {
  display: block;
  text-align: right;
  font-family: "Open Sans",sans-serif;
  font-size: .8rem;
  color: #a29e98;
  text-transform: uppercase;
  font-style: normal;
  margin-top: 0.5em;
  padding-right: 2rem;
}

aside.testimonial cite {
  font-size: 0.7rem;
  font-style: italic;
}

aside.social {
  background: #a5d1cd;
  border-top: 0.5rem solid #c7e2e0;
  padding: 2rem 0;
}

aside.social h1 {
  font-family: FeltThat, Georgia, cursive;
  font-size: 2.5rem;
  text-align: center;
  color: white;
  max-width: 10rem;
  padding-bottom: .2rem;
  margin: 0 auto 1rem;
  border-bottom: 0.1rem dotted #c7e2e0;
  text-shadow: 1px 1px 2px #79c1bc;
}

aside.social ul {
  list-style: none;
  margin: 0 0 1rem 0;
  padding: 0;
  text-align: center;
}

aside.social ul li {
  display: inline-block;
}

aside.social ul li a {
  float: left;
  background: white;
  border-radius: 50%;
  color: #9cd1cd;
  font-size: 1.5em;
  text-decoration: none;
  padding: .4em .5em .2em .5em;
  margin: 0 .1em;
  box-shadow: 1px 1px 10px #79c1bc;
  transition: all 0.1s ease;
}

aside.social ul li a span {
  text-indent: -999em;
  display: inline-block;
}

aside.social ul li a:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  color: #79c1bc;
}

footer {
  background: #4ba39c url(/img/primary-paper.png);
  padding-bottom: 2em;
}

footer:before {
  content: '';
  display: block;
  height: 1rem;
  background: repeating-linear-gradient(-45deg, #68b9b3 0px, #68b9b3 2px, #4ba39c 3px, #4ba39c 8px, #68b9b3 9px);
  margin-bottom: 1.5rem;
}

footer p {
  max-width: 20rem;
  margin: 0 auto;
  background: url(/img/logo-footer.png) top center no-repeat;
  padding-top: 4rem;
  color: #c7e2e0;
  text-align: center;
  font-family: "Roboto Slab", Georgia, serif;
  font-size: .7rem;
}

/* Page-layout-specific styles */
.page main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 1rem;
}

.page main h1, .page main h2, .page main h3, .page main h4 {
  font-family: "Roboto Slab", Georgia, serif;
  margin-bottom: .25em;
}

.page main article {
  -webkit-flex-basis: 70%;
      -ms-flex-preferred-size: 70%;
          flex-basis: 70%;
  margin-right: 3rem;
}

.page main article.full {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
}

.page main h1 {
  font-family: FeltThat, Georgia, cursive;
  font-size: 3rem;
  margin-top: 0;
  line-height: 1em;
}

.page main h2 {
  font-size: 1.3rem;
  color: #4ba39c;
}

.page main figure {
  float: right;
  margin: 0 0 .5rem 1rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  max-width: 350px;
}

.page main figure.left {
  float: left;
  margin: 0 1rem .5rem 0;
  text-align: left;
}

.page main figure:before {
  content: '';
  display: block;
  height: 1rem;
  background: repeating-linear-gradient(-45deg, #F0EFEE 0px, #F0EFEE 2px, white 3px, white 8px, #F0EFEE 9px);
  margin-bottom: 1.5rem;
  margin-bottom: 0;
}

.page main figure figcaption {
  padding: 5px;
  font-size: .7rem;
  font-style: italic;
  color: #635C51;
  text-align: right;
}

.page main figure img {
  padding: .5em;
  border: 2px solid #F0EFEE;
  max-width: 100%;
  height: auto;
}

.page main p {
  font-size: .8rem;
  line-height: 1.7em;
}

.page main form {
  margin: 2rem 0;
}

.page main form ul li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page main form ul li label {
  -webkit-flex: 1 0 120px;
      -ms-flex: 1 0 120px;
          flex: 1 0 120px;
  max-width: 175px;
  font-size: .8rem;
  padding-top: .5rem;
  font-family: "Roboto Slab", Georgia, serif;
}

.page main form input[type=submit] {
  background: #4ba39c;
  color: #fff;
  text-align: center;
  padding: .5em 2em;
  font-size: 1.1em;
  border: 3px solid #a5d1cd;
  font-family: 'Roboto Slab';
  border-radius: .5em;
  margin: .25rem auto;
}

.page main form input, .page main form select, .page main form textarea {
  border: 2px solid #F0EFEE;
  border-radius: .3em;
  padding: .5em;
  color: #635C51;
  font-size: 1em;
  margin-bottom: 1rem;
}

.page aside[role=complementary] {
  padding-top: 4rem;
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
  font-size: .7rem;
}

.page aside[role=complementary] section {
  padding: 0;
  text-align: left;
  margin-bottom: 2rem;
}

.page aside[role=complementary] ul {
  padding-left: 0;
}

.page aside[role=complementary] li {
  list-style: none;
}

.page aside[role=complementary] li:before {
  content: "\00bb";
  color: #96d673;
  padding-right: 1rem;
}

.page aside[role=complementary] p {
  font-size: .7rem;
}

.page aside[role=complementary] h3 {
  font-size: 1rem;
  color: #4ba39c;
}

.page aside[role=complementary] a.button {
  display: block;
  padding: 1.5rem 1rem;
  border-radius: 1rem;
  text-align: center;
  background-image: linear-gradient(rgba(255, 255, 255, 0), white), url(/img/bkg-button-resume.jpg);
  background-size: cover;
  border: 3px solid #F0EFEE;
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: bold;
  font-size: .8rem;
  text-decoration: none;
  color: #4ba39c;
  text-shadow: 1px 1px 0px #fff;
  transition: all 0.2s ease-in-out;
}

.page aside[role=complementary] a.button:hover {
  color: #287670;
  border-color: #a5d1cd;
  font-size: .9rem;
  padding: inherit 0;
}

.page aside[role=complementary] a.button:hover span {
  display: none;
}

.page aside[role=complementary] a.button span {
  font-size: .7em;
  color: #8bc9c4;
}

.page section.cta {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
}

.page section.cta a {
  display: block;
  width: 30%;
  max-width: 20rem;
  margin: 0 auto;
  background: #4ba39c;
  color: white;
  font-family: "Roboto Slab", Georgia, serif;
  text-decoration: none;
  padding: 1rem;
}

@media screen and (max-width: 899px) {
  .page main {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about header aside h2:before {
  background: url(/img/hero-side-desk.jpg) bottom center no-repeat;
}

.about header nav li:nth-child(2) a {
  color: #4ba39c;
}

.portfolio header aside h2:before {
  background: url(/img/hero-side-pantone.jpg) top left no-repeat;
}

.portfolio header nav li:nth-child(3) a {
  color: #4ba39c;
}

.services header aside h2:before {
  background: url(/img/hero-side-proposal.jpg) center center no-repeat;
}

.services header nav li:nth-child(4) a {
  color: #4ba39c;
}

.contact header aside h2:before {
  background: url(/img/hero-side-businesscard.jpg) center right no-repeat;
}

.contact header nav li:nth-child(5) a {
  color: #4ba39c;
}
