					<li><a href="http://twitter.com/ttesori" class="socicon-twitter" title="Twitter"><span>Twitter</span></a></li>
					<li><a href="https://www.linkedin.com/in/tonitesori" class="socicon-linkedin" title="Linkedin"><span>Linkedin</span></a></li>
					<li><a href="https://www.pinterest.com/ttesori/" class="socicon-pinterest" title="Pinterest"><span>Pinterest</span></a></li>
					<li><a href="https://www.behance.net/ttesori" class="socicon-behance" title="Behance"><span>Behance</span></a></li>
					<li><a href="https://github.com/Ttesori" class="socicon-github" title="GitHub"><span>Github</span></a></li>
					<li><a href="/contact" class="socicon-mail" title="Email"><span>Email</span></a></li>