<!doctype html>
<html lang="en">
<!--GHPAGE-->
	<head>
		<title>Florida Web and Print Design - Tesori Design</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" src="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
		<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Open+Sans:400,400 i,700" rel="stylesheet">
		<link href="https://file.myfontastic.com/n6vo44Re5QaWo8oCKShBs7/icons.css" rel="stylesheet">
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="stylesheet" href="/css/tesori.css">
	</head>
	<body class="home">
		<header role="banner">
			<h1>Tesori Design</h1>
			<nav role="navigation">
				<ul>
					{% include navigation.html %}
				</ul>
			</nav>
			<aside id="hero">
				<div>
					<h2>Hey there,</h2>
					<h3>I'm Toni.</h3>
					<p>I specialize in fast, friendly design for passionate creators. If your brilliant idea deserves beautiful design, let's talk!</p>
				</div>
			</aside>
		</header>
		<main role="main">
			{{ content }}
		</main>
		<section role="complementary">
			<aside class="testimonial">
				<blockquote>
					<q>Toni is the best designer I've worked with. I typically worry about freelancers flaking out, but she stays on top of every project until the end. Toni offers great work at a reasonable price and always delivers on time &mdash; I can't ask for anything more!</q>
					<cite>&mdash; Michael Huffman, App Developer</cite>
				</blockquote>
			</aside>

			<aside class="social">
				<h1>Let's Connect</h1>
				<ul>
					{% include social.html %}
				</ul>
			</aside>
		</section>

		<footer>
			<p>&copy; Tesori Design. <em>All Rights Reserved.</em></p>
		</footer>

	</body>
</html>